/* ----- Media query tablets ----*/

@media (min-width: 481px) {
  .w-t-50 {
    width: 50%;
  }
  .w-t-50 {
    width: 50%;
  }
  .w-t-70 {
    width: 70%;
  }
  .w-t-33 {
    width: 33%;
  }
.prod-titulo {
    visibility: collapse;
    transition: display 0.5s ease-in-out;
    
}
.producto:hover .prod-titulo{
  visibility: visible;
  transition: display 0.5s ease-in-out;
}
.producto {
    box-shadow: none;
    transition: box-shadow 0.5s ease-in-out;
  }

.producto:hover {
    box-shadow: 0px 0px 8px rgb(80, 80, 80, 0.7);
    transition: box-shadow 0.5s ease-in-out;
}
}
